# Dependencies
/node_modules/
/.pnp
.pnp.js
/yarn/install-state.gz

# Testing
/coverage/

# Next.js
/.next/
/out/

# Tauri (v2 specific files)
/src-tauri/target/
/src-tauri/Cargo.lock

# Production
/build/

# Misc
.DS_Store
*.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment files
.env*.local

# Vercel
.vercel/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS-specific files
Thumbs.db
ehthumbs.db

# IDE files
/.idea/
/.vscode/

# Other
# Add any other project-specific files here
